"use client";

import React from 'react';
import { z } from "zod";
import { useForm } from 'react-hook-form';
import { useTranslations } from 'next-intl';
import { zodResolver } from '@hookform/resolvers/zod';
import { ${modelName}CreateSchema } from '@zenstackhq/runtime/zod/models';

import { api } from '@/trpc/react';
import { Input } from '@/components/Form';
import ErrorList from '@/components/Form/ErrorList';
import useSubmit from '@/hooks/use-submit.hook';

type ${modelName}CreateType = z.infer<typeof ${modelName}CreateSchema>;

const New${modelName}Page: React.FC = () => {
    const t = useTranslations('admin.${camelCaseName}.create');

    const { mutateAsync: create${modelName}Async } = api.${camelCaseName}.create.useMutation();

    const { register, handleSubmit, formState } = useForm<${modelName}CreateType>({
        resolver: zodResolver(${modelName}CreateSchema),
    });

    const onSubmit = useSubmit(create${modelName}Async, {
        redirectUrl: '/admin/${kebabCaseName}',
    });


    return (
        <div className="flex flex-col gap-6">
            <div className="border-b border-stroke px-6 py-4 dark:border-strokedark">
                <h3 className="font-medium text-black dark:text-white">
                    {t('createTitle')}
                </h3>
            </div>
            <div className="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                <form 
                    className="grid grid-cols-2 gap-4 p-6"
                    onSubmit={handleSubmit((data) => onSubmit({ data }))}
                >                    
                    ${fieldsContent}
                    <ErrorList formState={formState} />
                    <button type="submit" className="flex w-full justify-center rounded bg-primary p-3 font-medium text-white hover:bg-opacity-90">
                        {t('createButton')}
                    </button>
                </form>
            </div>
        </div>
    );
};

export default New${modelName}Page;