"use client";

import React from 'react';
import { z } from "zod";
import { useForm } from 'react-hook-form';
import { useTranslations } from 'next-intl';
import { useParams } from 'next/navigation';
import { zodResolver } from '@hookform/resolvers/zod';
import { ${modelName}UpdateSchema } from '@zenstackhq/runtime/zod/models';

import { api } from '@/trpc/react';
import { Input } from '@/components/Form';
import ErrorList from '@/components/Form/ErrorList';
import ErrorRetryFallback from '@/components/ErrorRetryFallback';
import useSubmit from '@/hooks/use-submit.hook';

type ${modelName}UpdateType = z.infer<typeof ${modelName}UpdateSchema>;

const Update${modelName}Page: React.FC = () => {
    const params = useParams<{ slug: string }>();
    const t = useTranslations('admin.${camelCaseName}.update');

    const { data, isLoading, error, refetch } = api.${camelCaseName}.findFirstOrThrow.useQuery({
        where: { id: { equals: params.slug } },
    });

    const { mutateAsync: update${modelName}Async } = api.${camelCaseName}.update.useMutation();

    const { register, handleSubmit, formState } = useForm<${modelName}UpdateType>({
        defaultValues: data,
        resolver: zodResolver(${modelName}UpdateSchema)
    });

    const onSubmit = useSubmit(update${modelName}Async, {
        redirectUrl: '/admin/${kebabCaseName}',
    });

    if (isLoading) {
        return <p className="text-center text-lg font-medium text-gray-600 dark:text-gray-300 animate-pulse">{t('loading')}</p>;
    }

    if (error) {
        return (
            <ErrorRetryFallback
                message={t('errorLoading')}
                onRetry={refetch}
                buttonText={t('retry')}
            />
        );
    }

    return (
        <div className="flex flex-col gap-6">
            <div className="border-b border-stroke px-6 py-4 dark:border-strokedark">
                <h3 className="font-medium text-black dark:text-white">
                    {t('updateTitle')}
                </h3>
            </div>
            <div className="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                <form 
                    className="grid grid-cols-2 gap-4 p-6"
                    onSubmit={handleSubmit((data) => onSubmit({ data,  where: { id: params.slug }}))}
                >
                    ${fieldsContent}
                    <ErrorList formState={formState} />
                    <button type="submit" className="flex w-full justify-center rounded bg-primary p-3 font-medium text-white hover:bg-opacity-90">
                        {t('updateButton')}
                    </button>
                </form>
            </div>
        </div>
    );
};

export default Update${modelName}Page;